*.sdf
ClassLibrary1/bin/
ClassLibrary1/obj/
ClassLibrary1/Diagramme*
ClassLibrary1/implementation.cd
ClassLibrary1/interfaces.cd
Debug/
Librairie/Debug
modele/
PrOOjet/Debug/
RapportConception/
TestResults/
tests/bin/
tests/obj/
wpf/bin/
wpf/obj/
wrapper/Debug/

